.reader {
    width: 100vw;
    height: 100vh;

    .arrow {
        position: absolute;
        font-size: 4rem;

        &:hover {
            cursor: pointer;
        }
    }

    .left {
        top: 50vh;
        left: 1vw;
    }

    .right {
        top: 50vh;
        right: 1vw;
    }
}

.highlighted {
    position: absolute;
    top: 5vh;
    width: 100vw;
    z-index: 20;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;

    div {
        text-align: center;
        width: 80vw;
        padding: 0.5rem 0.5rem;
        background-color: grey;
        border-radius: 25px;
        color: white;
    }
}

.popup {
    position: absolute;
    width: 100vw;
    height: 100vh;
    padding: 5rem 2rem;
    z-index: 10;
    justify-content: center;
    align-items: center;

    .popup-inner {
        background-color: grey;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        border-radius: 20px;

        .word-outer {
            display: flex;
            justify-content: space-around;
            text-align: center;
            color: white;
            
            div {
                flex: 1;
            }
        }
    }
}