@font-face {
    font-family: 'Roboto';
    src: url(./fonts/Roboto/Roboto-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Segoe UI';
    src: url(./fonts/segoe-ui/SegoeUI.ttf) format('truetype');
}

@font-face {
    font-family: 'Segoe UI Light';
    src: url(./fonts/segoe-ui/segoeuil.ttf) format("truetype");
}

@font-face {
    font-family: 'Segoe UI Bold';
    src: url(./fonts/segoe-ui/SegoeUIBold.ttf) format("truetype");
}

body {
    margin: 0;
    font-family: 'Segoe UI';
}

.loader {
    z-index: 100;
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.7);
}

@import './auth';

.logo-header {
    flex: 1;
    display: flex;
    justify-content: center;

    .logo {
        display: flex;
        justify-content: center;
    }

    .text {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}


@import './learning';
@import './reader.scss';